// Fonts
@import url('https://fonts.googleapis.com/css?family=Nunito');

// Variables
@import 'variables';

// Bootstrap
@import '~bootstrap/scss/bootstrap';

/* BANNER CSS IMAGE COLOR STYLE */

#banner {
    background-color: #1A245A;
}

#banner_img > img{
    width: 50px;
    height: 50px;
}